@media (min-width: 1024px) {
  .home-header__burger {
    display: none;
  }

  .latest-posts__button_white.media {
    display: none;
  }

}

@media (min-width: 768px) and (max-width: 1240px) {
  .home-header__burger {
    display: none;
  }
  .home-header__row-1 p {
    font-size: 1rem;
  }
  .home-header__row-2 {
    height: 4rem;
    font-size: 0.8rem;
  }
  .home-header__logo img {
    width: auto;
    height: 1.5rem;
  }
  .home-header__list {
    align-items: center;
  }
  .home-header__btn-white {
    width: 5.25rem;
    height: 2rem;
    margin: 0 1rem 0 0;
  }
  .home-header__btn-carrot {
    width: 7.9375rem;
    height: 2.1rem;
  }

  .home-banner__column-2 img {
    width: 90%;
    object-fit: cover;
  }

  .home-banner__title {
    width: 25rem;
    font-size: 2.8rem;
  }
  .home-banner__text {
    font-size: 0.8rem;
  }
  .home-banner__btn-grey button {
    margin: 1rem 0 1rem 0;
    font-size: 0.7rem;
  }
  .home-banner__search {
    justify-content: start;
    margin: 0 0 0 0;
  }
  .home-banner__input input {
    width: 11rem;
    height: 2rem;
    font-size: 1rem;
    margin: 0 1rem 2rem 0;
  }
  .home-banner__search_icon {
    margin: 0.4rem 0 0 1rem;
  }

  .home-banner__btn-carrot {
    width: 8rem;
    height: 2rem;
    font-size: 0.9rem;
  }
  .home-footer {
    display: block;
    margin: 2rem 2rem 2rem 2rem;
  }
  .home-footer__content {
    display: flex;
    flex-direction: column;
  }
  .home-footer__text {
    font-size: 0.9rem;
    width: max-content;
    text-align: center;
  }
  .home-footer__icon img {
    margin: 0 1rem 0 1rem;
  }
  .latest-posts__button_white.media {
    display: none;
  }
}

@media (min-width: 1051px) {
  .footer-spoiler {
    display: none;
  }
  .how__cards {
    flex-direction: row;
    margin: 0 0 2.5rem 0;
  }
  .subtitle {
    font-size: 0.9rem;
  }

  .title2 {
    font-size: 1.2rem;
  }

  .subtitle2 {
    font-size: 0.9rem;
    margin: 0;
    padding: 0 0.5rem 1.5rem 0.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1050px) {
  .home-banner__title {
    width: 25rem;
    font-size: 2rem;
  }
  .home-banner__column-2 img {
    width: 80%;
  }
  .customers__review img {
    width: 25%;
  }
   /* "Анна - Latest-posts - footer" */
  .latest-posts, .latest-posts__cards{
    margin: 0 2rem 0 2rem;
    }
  .latest-posts__info h3 {
    font-size: 1.23rem;
  }
  .latest-posts__banner {
    margin-bottom: 0.8rem;
  }
  /* "footer-spoiler" */ 
  .footer-content__logo, .footer-content__head, 
  .footer-content__column-one, 
  .footer-content__column-two, 
  .footer-content__column-three {
    display: none;
  }
  .footer-content {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
  }

  .footer-content__column-four {
    justify-self: center;
    margin-right: 0rem;
  }
}
@media (max-width: 767px) {
  .home-banner__column-2 {
    justify-content: start;
  }
  .home-header__row-2 {
    width: 100vw;
  }
  .home-header__burger {
    display: block;
    width: 100vw;
  }
  .fixed-top {
    width: 100vw;
  }
  .navbar {
    width: 100vw;
  }
  .home-header__row-1 {
    display: none;
  }
  .home-header__nav {
    display: none;
  }

  .home-header__logo img {
    display: none;
  }

  .navbar-dark .navbar-toggler {
    background-color: rgba(147, 152, 120, 1);
    border-color: white;
  }

  .offcanvas.offcanvas-center.text-bg-dark {
    background-color: white !important;
    color: black !important;
  }
  .offcanvas-center {
    height: 60%;
    width: 100%;
    max-width: 22rem;
    top: 5%;
    left: 2%;
    border-radius: 1rem;
  }
  .bg-dark {
    background-color: white !important;
    border-style: solid;
    border-color: rgba(147, 152, 120, 1);
    border-width: 0.0125rem;
  }
  .container-fluid {
    background-color: white;
  }

  .offcanvas {
    background-color: white;
    color: black;
  }

  .nav-link:focus,
  .nav-link:hover {
    color: rgba(147, 152, 120, 1);
  }
/* "Анна - Latest-posts - footer" */

  .latest-posts__button_white.first {
    display: none;
  }
  .latest-posts, .latest-posts__cards{
    margin: 0 2rem 0 2rem;
  }

.footer-content__logo {
  padding-left: 2rem;
}
}

@media (max-width: 767px) and (min-width: 375px) {
  .home-banner {
    padding: 6.25rem 0 0 0;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
  }
  .home-banner__column-1 {
    margin: 0;
    width: 100%;
  }
  .home-banner__btn-grey button {
    display: none;
  }
  .home-banner__title {
    margin: 2rem 0 0 0;
    font-size: 2rem;
    text-align: center;
  }
  .home-banner__text {
    font-size: 0.9rem;
    text-align: center;
  }
  .home-banner__search {
    margin: 0 0 0 0;
  }

  .home-banner__search_icon {
    margin: 0.2rem 0 0 1rem;
    width: 1rem;
    height: 1rem;
  }
  .home-banner__input input {
    width: 13rem;
    height: 2rem;
    border-radius: 0.625rem;
    font-size: 1rem;
  }

  .home-banner__btn-carrot {
    width: 9.625rem;
    height: 2rem;
    font-size: 1rem;
    margin: 0 0 2rem 0;
  }

  .home-banner__column-2 img {
    width: 90%;
    margin: 0 0.5rem 0 2rem;
  }
  .home-footer {
    align-items: center;
    justify-content: space-around;
  }
  .home-footer__content {
    gap: 5rem;
    align-items: flex-start;
  }
  .home-footer__text {
    font-size: 1rem;
    margin: 0 0 0 0.7rem;
    width: 10rem;
  }

  .home-footer__img {
    flex-direction: column;
  }
  .home-footer__icon img {
    margin: 0 0.7rem 0.5rem 0;
  }
  .location {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.7fr 1fr 1fr 1fr;
    padding: 0 0.7rem;
    margin-bottom: 1rem;
  }
  .location__description {
    font-size: 0.9rem;
    grid-column: 1 / 3;
  }
  .location__description h2 {
    font-size: 2rem;
  }
  .location__buttons {
    grid-column: 1 / 3;
    justify-content: center;
  }
  .container_2 {
    height: auto;
    padding-bottom: 1rem;
    margin-top: 1rem;
  }
  .title3 {
    font-size: 2rem;
    text-align: center;
  }
  .subtitle3 {
    display: none;
  }
  .image2 {
    margin-top: 2rem;
  }
  .customers {
    display: flex;
    flex-direction: column;
    padding: 1rem 0.7rem;
  }
  .customers__description {
    font-size: 0.9rem;
  }
  .customers__description h2 {
    font-size: 2rem;
  }
  .customers__review img {
    width: 25%;
  }

    /* "Latest post - footer" */

    .latest-posts, 
    .latest-posts__cards, 
    .footer-content, .footer__end p, 
    .footer__end ul {
      margin: 0 0.7rem 0 0.7rem;
    }
    .latest-posts, 
    .latest-posts__cards{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .latest-posts__info {
      padding: 0.8rem;
    }
    .latest-posts__section.one{
      width: 90%;
      margin: 0.7rem 0 1.5rem 0;
      padding: 0.7rem;
      }
    .latest-posts__aside {
      font-size: 1.1rem;
      text-align: center;
    }
    .latest-posts__button_white.media a{
      font-weight: 400;
    }
    .latest-posts__banner {
      font-size: 2rem;
      margin-bottom: 0rem;
    }
    footer {
      padding-top: 3rem;
    }
    .footer-content__input input {
    width: 60%;
    }
    .footer__end p {
      font-size: 0.6rem;
      margin-left: 1.5rem;
    }
    .footer__end ul {
      padding-left: 0rem;
    }
    /* "footer-spoiler" */
    .latest-posts__button_white.first, 
    .latest-posts__section.two, 
    .latest-posts__section.three,
    .footer-content__logo,
    .footer-content__head,
    .footer-content__column-one,
    .footer-content__column-two,
    .footer-content__column-three {
    display: none;
  }

  .footer-content {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
  }

  .footer-content__column-four {
    justify-self: center;
    margin-right: 0rem;
  }
  /* "footer-spoiler" */
}
@media (max-width: 375px) {
  .home-banner__title {
    font-size: 1.5rem;
  }

  .home-banner__search {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }

  .home-banner__search_icon {
    margin: 0.2rem 0 0 2rem;
  }
  .home-banner__input input {
    width: 16rem;
    margin: 0 0 0 1rem;
  }

  .home-banner__btn-carrot {
    margin: 0 0 2rem 1.5rem;
    height: 2.5rem;
  }

  .home-banner__column-2 img {
    width: 75%;
    margin: 2rem 0 0 3rem;
  }

  .home-footer__content {
    gap: 2rem;
  }

  .home-footer__text {
    font-size: 0.9rem;
  }
  .home-footer__img {
    width: 90%;
  }
  .location {
    display: flex;
    flex-direction: column;
    padding: 0 0.7rem;
  }
  .location__description {
    font-size: 0.9rem;
  }
  .location__description h2 {
    font-size: 2rem;
  }
  .container_2 {
    height: auto;
    padding-bottom: 1rem;
    margin-top: 1rem;
  }
  .title3 {
    font-size: 2rem;
    text-align: center;
  }
  .subtitle3 {
    display: none;
  }
  .image2 {
    margin-top: 2rem;
  }
  .customers {
    display: flex;
    flex-direction: column;
    padding: 1rem 0.7rem;
  }
  .customers__description {
    font-size: 0.9rem;
  }
  .customers__description h2 {
    font-size: 2rem;
  }
  .customers__review img {
    width: 30%;
  }
  .customers__review {
    font-size: 0.7rem;
  }
  #four, #five, #six {
    display: none;
  }

/* "Latest post - footer" */

.latest-posts, 
.latest-posts__cards, 
.footer-content, .footer-content__column-four,
.footer__end p, 
.footer__end ul {
    margin: 0 0.7rem 0 0.7rem;
  }
  .latest-posts, 
  .latest-posts__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .latest-posts__section.one {
    margin: 0.7rem 0 0.7rem 0;
    width: 90%;
    }
  .latest-posts__info {
    padding: 0.8rem 0.8rem 2rem 0.8rem;
  }
  .latest-posts__button_white.media a{
    font-weight: 400;
  }
  .latest-posts__banner {
    font-size: 2rem;
    margin-bottom: 0rem;
  }
  .latest-posts__info h3 {
    font-size: 1.23rem;
  }
  .latest-posts__aside {
    font-size: 1.1rem;
    text-align: center;
  }
  .latest-posts__button_white.media{
  margin: 1rem 0 1rem 0;
  }
  footer {
    padding-top: 1rem;
  }
  .footer-content__input input {
  width: 60%;
  }
  .footer__end p {
    font-size: 0.6rem;
  }
  .footer__end ul {
    padding-left: 0rem;
  }

    /* "footer-spoiler" */
    .latest-posts__button_white.first, 
    .latest-posts__section.two, 
    .latest-posts__section.three, 
    .footer-content__logo, .footer-content__head, 
    .footer-content__column-one, 
    .footer-content__column-two, 
    .footer-content__column-three {
  display: none;
}

.footer-content {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
}

.footer-content__column-four {
  justify-self: center;
  padding-right: 0rem;
}
/* "footer-spoiler" */
}

@media (max-width: 1300px) {
  .besthouses__article_1 {
    font-size: 2.5rem;
  }
  .besthouses__article_4 {
    grid-row: 2;
  }
  .besthouses__article_12 {
      grid-row: 2;}
  .besthouses__container_2 {
    align-items: center;
  }
  .besthouses__container_6 {
    align-items: center;
  }
  .besthouses__article_5 {
    font-size: 2.5rem;
    padding-bottom: 0rem;
  }
  .besthouses__part_two {
    padding-top: 1rem;
  }
  .besthouses__container_4 {
    padding-top: 1rem;
    grid-template-rows: 4rem 4rem;
    grid-template-columns: 2fr 2rem 2fr;
  }

  .besthouses__icon_4 {
    display: none;
  }

  .besthouses__icon_5 {
    display: none;
  }

  .besthouses__article_7 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  .besthouses__article_8 {
    grid-row: 2/3;
    grid-column: 1 / 3;
  }

  .besthouses__article_9 {
    grid-row: 1 / 2;
  }
    .besthouses__article_10 {
      grid-row: 2/3;
    }
  .besthouses__container_4 
    {padding-top: 0rem;
  }
}

@media (max-width: 1000px) {
 
  .besthouses__article_6 {
    width: 500px;
}
.besthouses__article_2 {
  width: 500px;
}

  .besthouses__part_one {
    padding-right: 1rem;
}
.besthouses__icon_3 {
  padding-bottom: 0.5rem;}
  
.besthouses__icon_1 {
    padding-top: 1rem;
    padding-bottom: 1rem;}
 .besthouses__article_1 {
      font-size: 2rem;  
      padding-bottom: 1.2rem;
      line-height: 35px;
    }
.besthouses__article_5 {
      font-size: 2rem;  
      padding-bottom: 1.2rem;
      line-height: 35px;  
    }
 .besthouses__article_2 {font-size: 1rem; line-height: 1.25rem; }

.besthouses__article_6 {
      line-height: 1.25rem; font-size: 1rem;
    }
.besthouses__part_two { padding-bottom: 3rem;
      align-items: center; padding-top: 3rem;
    } 
 .besthouses__container_3 {
      padding-top: 0rem;}
}

@media (min-width: 768px) and (max-width: 1023px){
  .body_besthouses {
    padding-left: 3rem;
    padding-right: 3rem;}
}

@media (max-width: 767px) {
  .body_besthouses {
    padding-left: 0.7rem;
    padding-right: 0.7rem;}

  .besthouses__container_2 {
    width: 300px;
    padding-top: 3rem;
  }

  .besthouses {
 flex-direction: column;
}

 .besthouses__part_two {  
   flex-direction: column;
   align-items:flex-start;
      }

 .besthouses__container_3 {
        padding-left: 0rem; 
      }
  .besthouses__container_6 { 
    width: 300px;
    padding-top: 3rem;}      
}

@media (max-width: 500px) {
  .besthouses__container_2 {
    width: 200px; padding-top: 1.2rem;
  }
  .besthouses__container_1{
    grid-template-columns: 7rem 8rem; padding-top: 0.5rem;
  }
  .besthouses__container_6 { 
    width: 200px; padding-top: 1.5rem;
  }   
  .besthouses__container_4 {
      display: flex;
      flex-direction: column;
    }
  .besthouses__button_2 {width: 7rem;
      height: 2rem;
      font-size: 0.8rem;}
  .besthouses__article_3 { font-size: 0.8rem;}

  .besthouses__container_5 {  grid-template-columns: 7rem 8rem; padding-top: 0.5rem;
      }
  .besthouses__button_4 {width: 7rem;
        height: 2rem;
        font-size: 0.8rem;}

  .besthouses__article_11 { font-size: 0.8rem;
        }
  .besthouses__button_2 {width: 7rem;
      height: 2rem;
      font-size: 0.8rem;}
  .besthouses__article_3 { font-size: 0.8rem;}
  .besthouses__article_6 {
    width: 300px;
  }
  .besthouses__icon_3 {
    padding-bottom: 1rem;}
  .besthouses__article_2 {width: 300px; font-size: 1rem;}
}

@media (max-width: 325px) { 
  .besthouses__article_1 {
    font-size: 1.5rem;
    line-height: 1.8rem;
    padding-bottom: 0.8rem;
  }
  .besthouses__article_5 {
    font-size: 1.5rem;
    line-height: 1.8rem;
    padding-bottom: 0.8rem;
  }
  .besthouses__container_2 {
    width: 150px;}
  .besthouses__container_6 {
        width: 150px;}
  .besthouses__article_6 {
      width: 250px;
}
 .besthouses__article_2 {
    width: 250px;
}

.besthouses__container_1 { align-items: center;
  grid-template-columns: 5rem 5rem;  
}  
.besthouses__button_2 {
  width: 6rem;
  font-size: 0.6rem;
 }
.besthouses__article_3 {  
     font-size: 0.6rem; 
    }
.besthouses__container_1 { align-items: center;
  grid-template-columns: 5rem 5rem;  
}  
.besthouses__button_2 {
  width: 6rem;
  font-size: 0.6rem;
 }
.besthouses__article_3 {  
     font-size: 0.6rem; 
    }

.besthouses__container_5 { align-items: center;
      grid-template-columns: 5rem 5rem;  
    }  
.besthouses__button_4 {
      width: 6rem;
      font-size: 0.6rem;
     }
.besthouses__article_11 {  
         font-size: 0.6rem; 
        }
    
}
